body {
    font-family: 'Open Sans', sans-serif;
}
.container { /*margen*/
    padding-right: 6%;
    padding-left: 6%;
}
.boton {/*Configuracion de botones*/
    text-align: center;
    display: block;
    width: 100%;
    max-width: 350px; /*Tamaño maximo del boton*/
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    border-radius: 5px;
}